/* Estilos para la página de resultados de búsqueda */
ul {
    list-style-type: none;
}

li {
    margin-bottom: 25px;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p  {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: blue;
text-align: center;
}

