/* Estilos para la página de inicio */
h1 {
    color: #e31919;
    font-size: 50px;
}

p {
    color: #e1caca;
    font-size: 25px;
}

a {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

a:hover {
    background-color: #0056b3;
}
