/* Estilos para la página de producto */
body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

button {
    background-color: #6d7783;
    color: #e20e0e;
    padding: 50px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
